<% include partials/header %>

<header class="header">
  <div class="branding">
    <a href="#">
      <img src="images/logo-autosales.svg"
        alt="Icon of a car"
        class="header__logo">
    </a>
    <h4 class="header__title"><a href="#">AutoSales.com</a></h4>
  </div>

  <!-- Hamburger menu for mobile / tablet -->
  <nav class="hamburger">
    <label for="nav-toggle"
      class="nav-toggle-label"><span></span></label>
    <input type="checkbox"
      id="nav-toggle"
      class="nav-toggle">
    <ul class="menu">
      <li><a href="#">Cars for Sale</a></li>
      <li><a href="#">Sell My Car</a></li>
      <li><a href="#">Find a Dealer</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>

  <!-- Regular listed navbar -->
  <nav class="nav">
    <ul class="nav__content">
      <li class="nav__item"><a href="#">Cars for Sale</a></li>
      <li class="nav__item"><a href="#">Sell My Car</a></li>
      <li class="nav__item"><a href="#">Find a Dealer</a></li>
      <li class="nav__item"><a href="#">Contact Us</a></li>
      <li class="nav__item">
        <a href="#">
          <img src="images/icon-search-white.svg"
            alt="Search Glass Icon"
            class="nav__item--search">
        </a>
      </li>
    </ul>
  </nav>

</header>
<main>
  <section class="jumbotron">
    <div class="jumbotron__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">The Car of Your Dreams</span>
        <span class="heading-primary--sub">is Only a Click Away!</span>
      </h1>
      <a href="#"
        class="btn btn--green btn--animated">Get Started Now</a>
    </div>
  </section>
  <section class="dream-car">
    <div class="custom-select">
      <select>
        <option value="0">MAKE</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
      </select>
    </div>
    <div class="custom-select">
      <select>
        <option value="0">MODEL</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
      </select>
    </div>
    <div class="custom-select">
      <select>
        <option value="0">PRICE</option>
        <option value="1">Audi</option>
        <option value="2">BMW</option>
        <option value="3">Citroen</option>
        <option value="4">Ford</option>
      </select>
    </div>
    <a href="#"
      class="btn btn--pink btn--animated">Find My Dream Car</a>
  </section>

  <section class="products">

    <figure class="product-display">
      <figcaption class="product-display__details">
        <h2 class="product__title">
          Honda Cars and SUVs
        </h2>
        <p class="product__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Debitis porro quis aut a alias doloremque, facere, saepe
          aliquam nam similique nobis dolores ipsa necessitatibus!
        </p>
        <a href="#"
          class="btn btn--blue btn--animated">View All</a>
      </figcaption>
      <div class="product-display__images">
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546011915/honda1.jpg"
            alt="Red Honda Car"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Honda</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546011915/honda2.jpg"
            alt="Black Honda Sports Utility Vehicle"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Honda</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
      </div>
    </figure>

    <figure class="product-display">
      <div class="product-display__images">
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1545938145/audi1.jpg"
            alt="Green Audi Sports Utility Vehicle"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Audi</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546011915/audi2.jpg"
            alt="White Audi Car"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Audi</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
      </div>
      <figcaption class="product-display__details">
        <h2 class="product__title">
          Audi Cars and SUVs
        </h2>
        <p class="product__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Debitis porro quis aut a alias doloremque, facere, saepe
          aliquam nam similique nobis dolores ipsa necessitatibus!
        </p>
        <a href="#"
          class="btn btn--blue btn--animated">View All</a>
      </figcaption>
    </figure>

    <figure class="product-display">
      <figcaption class="product-display__details">
        <h2 class="product__title">
          Chevy Cars, Trucks and SUVs
        </h2>
        <p class="product__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Debitis porro quis aut a alias doloremque, facere, saepe
          aliquam nam similique nobis dolores ipsa necessitatibus!
        </p>
        <a href="#"
          class="btn btn--blue btn--animated">View All</a>
      </figcaption>


      <div class="product-display__images">
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546012472/chevy2.jpg"
            alt="Silver Chevy Truck"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Chevy</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546012530/chevy3.jpg"
            alt="Red Chevy Sedan on a dirt road"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Chevy</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
      </div>
    </figure>

    <figure class="product-display">
      <div class="product-display__images">
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546013265/ford1.jpg"
            alt="Silver Ford Truck at a Construction site"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Ford</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
        <div class="overlay__container">
          <img class="product__image"
            src="https://res.cloudinary.com/dclcsud2e/image/upload/c_scale,h_600,w_640/v1546013301/ford2.jpg"
            alt="Black Ford Sedan"
            srcset="">
          <div class="overlay">
            <div class="overlay__text">
              <h4 class="overlay__title">Ford</h4>
              <hr class="overlay__hr" />
              <p class="overlay__content">Learn More</p>
            </div>
          </div>
        </div>
      </div>
      <figcaption class="product-display__details">
        <h2 class="product__title">
          Ford Cars, Trucks, and SUVs
        </h2>
        <p class="product__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Debitis porro quis aut a alias doloremque, facere, saepe
          aliquam nam similique nobis dolores ipsa necessitatibus!
        </p>
        <a href="#"
          class="btn btn--blue btn--animated">View All</a>
      </figcaption>
    </figure>
  </section>
</main>
<footer class="footer">
  <div class="footer__branding">
    <a href="#">
      <img src="images/logo-autosales.svg"
        alt="Icon of a car"
        class="header__logo">
    </a>
    <p class="header__title"><a href="#">AutoSales.com</a></p>
  </div>
  <p class="footer__trademark">
    Copyright &copy; 2018 | All Rights Reservered | Privacy Policy
  </p>
</footer>

<% include partials/footer %>