// colors
$blue-gray: rgb(62, 72, 82);
$text-white: #f2f2f2;
$white: #fff;

// SPACING
$xs-size: 0.5rem;
$s-size: 1rem;
$s-size-half-step: 1.5rem;
$m-size: 2rem;
$m-size-half-step: 2.5rem;
$l-size: 3rem;
$l-size-half-step: 3.5rem;
$xl-size: 4rem;
$xl-size-half-step: 4.5rem;
$xxl-size: 5rem;
$xl-size-half-step: 5.5rem;
$xxxl-size: 6rem;

// FONT
$s-font: 1.2rem;
$s-font-half-step: 1.4rem;
$default-font: 1.6rem;
$font-medium: 2rem;
$m-font-half-step: 2.5rem;
$font-large: 3rem;
$font-large-half-step: 3.5rem;

// BREAKPOINTS
$smartphone: 32rem;
$tablets: 76.8rem;
$laptops: 102.4rem;
$desktop: 182.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
