.btn {
  &:link,
  &:visited {
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  &--green {
    display: inline-block;
    position: relative;
    padding: $s-size $l-size;
    transition: all 0.2s;
    border-radius: 3px;
    background-color: $dark-green;
    font-weight: 400;
  }

  &--green:hover {
    background-color: $light-green;
  }
  
  &--pink {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    background-color: $dark-salmon;
    font-weight: 400;
    text-align: center;
  }

  &--pink:hover {
    background-color: lighten($color: $dark-salmon, $amount: 5);
  }
  
  &--blue {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: $s-size $m-size;
    transition: all 0.2s;
    background-color: $dark-blue;
    text-align: center;  
  }

  &--blue:hover {
    background-color: $light-blue;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }


  &--animated {
    animation: moveInBottom 1.5s ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .btn--pink {
    display: grid;
    grid-column: 1 / 4;
    padding: $s-size $xl-size;
  }
}





