.btn {
  &:link,
  &:visited {
    border-radius: 3px;
    font-size: $default-font;
    text-decoration: none;
    text-transform: uppercase;
  }

  &--green {
    display: inline-block;
    position: relative;
    padding: $s-size-half-step $xl-size;
    transition: all 0.2s;
    background-color: $green;

  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }


  &--animated {
    animation: moveInBottom 1.5s ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}



