.btn {
  &:link,
  &:visited {
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  &--green {
    display: inline-block;
    position: relative;
    padding: $s-size $l-size;
    transition: all 0.2s;
    border-radius: 3px;
    background-color: $green;
    
  }
  
  &--pink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem $xl-size;
    transition: all 0.2s;
    background-color: $salmon;
    text-align: center;
    
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }


  &--animated {
    animation: moveInBottom 1.5s ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}



