.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: $blue-gray;
  color: $text-white;
  font-size: $s-font;
  text-align: center;

  &__trademark {
    margin: 0;
    color: rgb(105, 116, 123);
  }
}

@media (min-width: 320px) and (max-width: 766px) {
  .footer {
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .footer {
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;

    &__branding {
      padding-left: $m-size;
    }

    &__trademark {
      margin: 0;
      padding-right: $m-size;
      
    }
  }
}
