.jumbotron {
  position: relative;
  height: 50vh;
  background-image: url('/images/dream_car_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
  }
}

.heading-primary {
  margin: 0;
  color: $blue-gray;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6;
  
  &--main {
    display: block;
    animation: moveInLeft 1.5s ease-out;
    font-size: inherit;
    font-weight: inherit;
  }
  
  &--sub {
    display: block;
    margin-bottom: $s-size;
    animation: moveInRight 1.5s ease-out;
    font-size: $m-font;
    font-size: inherit;
    font-weight: inherit;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .heading-primary {
    font-size: 3vw;
  }  
}

@media (min-width: 1024px) {
  .heading-primary {
    font-size: 2vw;
  }
}
