@import '../abstracts/variables';

* {
  box-sizing: border-box;
  font-weight: 100;
  line-height: 1.6;
}

a,
a:visited {
  color: $text-white;
  text-decoration: none;
}

html {
  font-family: 'Aleo', serif;
  font-size: 62.5%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
  color: $text-white;
  font-size: $xs-font;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

