* {
  box-sizing: border-box;
  font-weight: 100;
  line-height: 1.6; }

a {
  color: #f2f2f2;
  text-decoration: none; }

a:visited {
  color: #f2f2f2;
  text-decoration: none; }

html {
  font-family: 'Aleo', serif;
  font-size: 62.5%; }

body {
  margin: 0;
  color: #f2f2f2;
  font-size: 1rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(200px);
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  80% {
    transform: translateY(-5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 0 0 2rem;
  background-color: #3e4852;
  color: #f2f2f2;
  font-size: 1.4rem; }
  .header__logo {
    width: 30px; }
  .header__title {
    display: inline;
    margin: 0;
    color: #f2f2f2; }

.branding {
  display: flex;
  align-items: center;
  /* align vertical */ }

.nav__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-right: 2rem;
  list-style-type: none; }

.nav__item {
  display: inline;
  padding-right: 3rem; }

.nav__item--search {
  width: 20px; }

.hamburger {
  display: none; }

@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none; }
  .hamburger {
    display: inline-block; } }

@media (min-width: 767px) and (max-width: 1024px) {
  .nav__item {
    padding-right: 1rem; } }

.nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  .nav-toggle:checked + .menu {
    visibility: visible;
    opacity: 1; }

.nav-toggle-label {
  position: fixed;
  z-index: 2;
  top: 1rem;
  right: .75rem;
  cursor: pointer; }
  .nav-toggle-label span, .nav-toggle-label::before, .nav-toggle-label::after {
    display: block;
    width: 2rem;
    height: 3px;
    margin-bottom: .4rem;
    transition: all linear .2s;
    background-color: #fff; }
  .nav-toggle-label::before, .nav-toggle-label::after {
    content: ''; }

.menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  list-style-type: none;
  transition: .2s all linear;
  opacity: 0;
  background-color: rgba(62, 72, 82, 0.5);
  font-size: 2rem;
  text-align: center; }
  .menu li {
    margin-bottom: 1.5em;
    font-weight: bold;
    text-transform: uppercase; }
    .menu li a {
      border-bottom: 2px solid #000;
      color: #000;
      text-decoration: none; }

.nav-toggle-label--active span {
  opacity: 0; }

.nav-toggle-label--active::before {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg); }

.nav-toggle-label--active::after {
  position: absolute;
  top: 50%;
  transform: rotate(45deg); }

.jumbotron {
  position: relative;
  height: 50vh;
  background-image: url("/images/dream_car_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .jumbotron__text-box {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%); }

.heading-primary {
  margin: 0;
  color: #3e4852;
  font-size: 4rem;
  font-weight: 900; }
  .heading-primary--main {
    display: block;
    animation: moveInLeft 1.5s ease-out;
    font-size: inherit;
    font-weight: inherit; }
  .heading-primary--sub {
    display: block;
    margin-bottom: 2rem;
    animation: moveInRight 1.5s ease-out;
    font-size: 2rem;
    font-size: inherit;
    font-weight: inherit; }

.btn:link, .btn:visited {
  border-radius: 3px;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase; }

.btn--green {
  display: inline-block;
  position: relative;
  padding: 1.5rem 4rem;
  transition: all 0.2s;
  background-color: #5ebf7f; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom 1.5s ease-out 0.25s;
  animation-fill-mode: backwards; }
