* {
  box-sizing: border-box;
  font-weight: 100;
  line-height: 1.6; }

a {
  color: #f2f2f2;
  text-decoration: none; }

a:visited {
  color: #f2f2f2;
  text-decoration: none; }

html {
  font-family: 'Aleo', serif;
  font-size: 62.5%; }

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #dedede;
  color: #f2f2f2;
  font-size: 1rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(200px);
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  80% {
    transform: translateY(-5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.5rem 0 0 2rem;
  background-color: #3e4852;
  color: #f2f2f2;
  font-size: 1.4rem; }
  .header__logo {
    width: 30px; }
  .header__title {
    display: inline;
    margin: 0;
    color: #f2f2f2; }
    .header__title a {
      padding-left: 2px;
      font-weight: 400; }

.branding {
  display: flex;
  align-items: center;
  /* align vertical */ }

.nav {
  font-size: 1rem; }
  .nav__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-right: 2rem;
    list-style-type: none; }
  .nav__item {
    display: inline;
    padding-right: 3rem; }
  .nav__item--search {
    width: 20px; }

.hamburger {
  display: none; }

@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none; }
  .hamburger {
    display: inline-block; } }

.nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  .nav-toggle:checked + .menu {
    visibility: visible;
    opacity: 1; }

.nav-toggle-label {
  position: fixed;
  top: 1rem;
  right: .75rem;
  cursor: pointer; }
  .nav-toggle-label span, .nav-toggle-label::before, .nav-toggle-label::after {
    display: block;
    width: 2rem;
    height: 3px;
    margin-bottom: .4rem;
    transition: all linear .2s;
    background-color: #fff; }
  .nav-toggle-label::before, .nav-toggle-label::after {
    content: ''; }

.menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  list-style-type: none;
  transition: .2s all linear;
  opacity: 0;
  background-color: rgba(62, 72, 82, 0.8);
  font-size: 2rem;
  text-align: center; }
  .menu li {
    margin-bottom: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block; }
    .menu li a {
      transition: all ease 0.8s;
      animation: moveInRight 1.5s ease-out;
      animation-delay: -1s;
      border-bottom: 2px solid #f2f2f2;
      color: #f2f2f2;
      text-decoration: none; }
    .menu li a:hover {
      padding: 2rem;
      box-shadow: inset 200px 0 0 0 #e0e0e0;
      color: #010; }

.nav-toggle-label--active span {
  opacity: 0; }

.nav-toggle-label--active::before {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg); }

.nav-toggle-label--active::after {
  position: absolute;
  top: 50%;
  transform: rotate(45deg); }

.jumbotron {
  position: relative;
  height: 50vh;
  background-image: url("/images/dream_car_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .jumbotron__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%); }

.heading-primary {
  margin: 0;
  color: #3e4852;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6; }
  .heading-primary--main {
    display: block;
    animation: moveInLeft 1.5s ease-out;
    font-size: inherit;
    font-weight: inherit; }
  .heading-primary--sub {
    display: block;
    margin-bottom: 1rem;
    animation: moveInRight 1.5s ease-out;
    font-size: 2rem;
    font-size: inherit;
    font-weight: inherit; }

@media (min-width: 767px) and (max-width: 1024px) {
  .heading-primary {
    font-size: 3vw; } }

@media (min-width: 1024px) {
  .heading-primary {
    font-size: 2vw; } }

.btn:link, .btn:visited {
  font-size: 1.2rem;
  text-decoration: none; }

.btn--green {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  transition: all 0.2s;
  border-radius: 3px;
  background-color: #5ebf7f;
  font-weight: 400; }

.btn--green:hover {
  background-color: #67d08b; }

.btn--pink {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #ff8466;
  font-weight: 400;
  text-align: center; }

.btn--pink:hover {
  background-color: #ff9980; }

.btn--blue {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  background-color: #6ec2e3;
  text-align: center; }

.btn--blue:hover {
  background-color: #7bd2f2; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom 1.5s ease-out 0.25s;
  animation-fill-mode: backwards; }

@media (min-width: 320px) and (max-width: 640px) {
  .btn--pink {
    display: grid;
    grid-column: 1 / 4;
    padding: 1rem 4rem; } }

/* The container must be positioned relative: */
.custom-select {
  display: inline-block;
  position: relative;
  max-width: 200px;
  border-top: 1px solid #e7e9ea;
  color: #e7e9ea;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

.select-selected {
  background-color: #fff; }

/* Style the arrow inside the select element: */
.select-selected::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #e7e9ea transparent transparent; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active::after {
  top: 7px;
  border-color: transparent transparent #e7e9ea; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-top: none;
  border-color: #e7e9ea;
  color: #3e4852;
  cursor: pointer; }

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #fff; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: #3e4852;
  color: #f2f2f2;
  font-size: 1.2rem;
  text-align: center; }
  .footer__branding {
    padding: 0 2rem 1rem 0; }
  .footer__trademark {
    margin: 0;
    padding-right: 2rem; }

@media (min-width: 320px) and (max-width: 766px) {
  .footer {
    flex-direction: column; } }

@media (min-width: 767px) {
  .footer {
    flex-direction: row;
    justify-content: space-between; }
    .footer__branding {
      padding-left: 2rem; } }

.dream-car {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0.5rem;
  background-color: #fff; }

@media (min-width: 640px) {
  .dream-car {
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 10rem;
    background-color: #fff; } }

@media (min-width: 900px) {
  .dream-car {
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 20rem;
    background-color: #fff; } }

.product-display {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 3rem 1rem;
  background-color: #f0f3f4; }

.product-display:nth-child(even) {
  background-color: #fff; }

.product-display__details {
  width: 60%;
  margin: 0 auto;
  color: #010; }
  .product-display__details .product__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600; }
  .product-display__details .product__content {
    margin-top: 0;
    font-size: 1.2rem; }

.product-display__images {
  display: none;
  text-align: right; }

.product-display__images:nth-child(even) {
  text-align: left; }

.product-display__images img {
  justify-content: center;
  height: auto; }

.overlay__container {
  display: inline-block;
  position: relative;
  width: 40%; }

.product__image {
  display: inline-block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98%;
  transition: .5s ease;
  opacity: 0;
  background-color: #000; }

.overlay__container:hover .overlay {
  opacity: .7; }

.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  font-size: 20px;
  text-align: center; }

.overlay__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.overlay__hr {
  width: 90%; }

.overlay__content {
  margin: 0;
  font-size: 1.6rem; }

@media (min-width: 767px) {
  .product-display {
    grid-template-columns: 1fr 1fr; }
  .product-display__images {
    display: inline-block; } }
